<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Customer purchase</title>
</head>
<body>
    <h1>Customer purchase</h1>
    <form action="/products/<%= product._id %>/purchaseitem/purchaseNew" method="POST">
        <div>
            <label for="purchaseitem-name">purchaseitem-name</label>
            <input type="text" id="purchaseitem-name" name="purchaseitem[name]">
        </div>
        <div>
            <label for="purchaseitem-quantity">purchaseitem-quantity</label>
            <input type="number" id="purchaseitem-quantity" name="purchaseitem[quantity]">
        </div>
        <button id="submit-order" type="submit">submit order</button>
    </form>
</body>
</html>

