<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show products</title>
</head>
<body>
    <h1>Purchaseitem name: <%= ppurchaseitem.name %></h1>
    <h2>Purchaseitem price: <%= purchaseitem.price %></h2>
    <h2>Purchaseitem quantity selected: <%= purchaseitem.quantity %></h2>
</body>
</html>